body{
    background-color: black;
}

#myInput{
    background-color: black;
    font-family: monospace;
    border: none;
    color:#00ff00
}

#myOutput, #flyingJargon {
    color: #00ff00;
    font-family: monospace;
}
